body,
html {
  margin: 0;
  height: 100%;
}

#splashpage {
  background-image: url("../images/laptop-white-1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#namecontainer {
  position: absolute;
  top: 40%;
  left: 20%;
}
#nametag {
  font-family: "Homemade Apple", cursive;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

#tagline {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.navbtn {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-left: 17px;
  margin-right: 17px;
}

#navbar {
  text-align: center;
}

#githublogo {
  height: 50px;
  width: 50px;
}

#about {
  background-image: url("../images/laptop-white-2.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#portfolio {
  background-image: url("../images/creased.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

img {
  height: 95%;
  width: 60%;
  /* margin-top: 50%; */
}

#emptydiv {
  height: 33%;
}

#contact {
  background-image: url("../images/laptop-white-crop.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#contactme {
  font-family: "Homemade Apple", cursive;
  font-size: 30px;
  position: absolute;
  top: 37%;
  left: 37%;
}
#contactform {
  position: absolute;
  top: 45%;
  left: 38%;
}

.formtext {
  font-family: "Times New Roman", Times, serif;
}
