#splashpage {
  background-image: url("../images/laptop-white-1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

body,
html {
  margin: 0;
  height: 100%;
}

.navbtn {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 20px;
}

#navbar {
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 10%;
}

#githublogo {
  height: 20%;
  width: 10%;
}

#about {
  background-image: url("../images/laptop-white-2.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#portfolio {
  background-image: url("../images/creased.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

img {
  height: 90%;
  width: 60%;
  /* margin-top: 50%; */
}

#emptydiv {
  height: 33%;
}

#contact {
  background-image: url("../images/laptop-white-crop.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#contactform {
  position: absolute;
  top: 50%;
  left: 40%;
}

.formtext {
  font-family: "Times New Roman", Times, serif;
}
